**/*.pyc
**/__pycache__
nillion-venv/
permissions/.nillion-config.json
examples_and_tutorials/nada_programs/target
quickstart/client_code/credential_store.json
.env
.idea
.DS_Store
*.key

.venv
../.venv